@media (max-width: 59em) {
  body {
    background-image: url(../images/bg-top.svg);
    background-position: right -12.125rem top -2.25rem;
  }

  .pricing-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .plan {
    padding: 1.875rem;
    border-radius: 0.625rem;
  }
}

@media (max-width: 44em) {
  .pricing-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 34em) {
  .plan__price {
    font-size: 4rem;
  }
}
