/*************/
/* HEADER */
/*************/

.header {
  text-align: center;
  padding: 4rem 0;
}

.header h1 {
  color: var(--grayish-blue);
  margin-bottom: 2.25rem;
}

/*************/
/* TOGGLE */
/*************/

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.toggle__label {
  color: var(--light-grayish-blue);
}

.toggle__switch {
  display: inline-block;
  position: relative;
  width: 3.5rem;
  height: 2rem;
}

.toggle__checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, var(--gradient));
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.toggle__slider::before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  background-color: var(--white);
  border-radius: 50%;
  transition: 0.3s;
}

.toggle__checkbox:checked + .toggle__slider::before {
  transform: translateX(100%);
}

.toggle__switch:hover .toggle__slider {
  opacity: 0.5;
}

/*************/
/* PRICING */
/*************/

.pricing-container {
  width: 100%;
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.plan {
  background-color: var(--white);
  color: var(--grayish-blue);
  text-align: center;
  padding: 2rem;
}

.plan:nth-child(1) {
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.plan:nth-child(3) {
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.plan__name {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

.plan__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 4.5rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 2rem;
}

.plan__price span {
  font-size: 2.5rem;
}

.plan__list {
  list-style: none;
}

.plan__list li {
  padding-block: 1.25rem;
  border-top: 1px solid var(--light-grayish-blue);
}

.plan__list li:last-child {
  border-bottom: 1px solid var(--light-grayish-blue);
}

.plan__info {
  margin-top: 2rem;
}

.plan--professional {
  background-color: transparent;
  background-image: linear-gradient(to bottom right, var(--gradient));
  color: var(--white);
  padding-block: 3.5rem;
  border-radius: 0.625rem;
}

.plan--professional .plan__price {
  color: var(--white);
}

.plan--professional .plan__list li {
  border-color: var(--light-blue);
}

/*************/
/* FOOTER */
/*************/

.footer {
  padding: 4rem 0 2rem;
  text-align: center;
}

.footer__text {
  font-size: 0.8125rem;
  color: var(--dark-grayish-blue);
}

.footer__text a {
  color: hsl(228, 45%, 44%);
}
