.header {
  text-align: center;
  padding-block: 4rem;
}

.header h1 {
  font-size: 2rem;
  color: var(--grayish-blue);
  margin-bottom: 2.5rem;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.toggle__label {
  color: var(--light-grayish-blue);
}

.toggle__switch {
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
  position: relative;
}

.toggle__checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.toggle__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, var(--gradient));
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle__slider::before {
  content: "";
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  background-color: var(--white);
  border-radius: 50%;
  transition: 0.2s;
}

.toggle__slider:hover {
  opacity: 0.7;
}

.toggle__checkbox:focus-visible + .toggle__slider {
  outline: 3px solid var(--dark-grayish-blue);
  outline-offset: 2px;
}

.toggle__checkbox:checked + .toggle__slider::before {
  transform: translateX(1.5rem);
}

.pricing-container {
  width: 100%;
  max-width: 68.75rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.plan {
  padding: 2rem;
  text-align: center;
  background-color: var(--white);
  color: var(--grayish-blue);
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(234, 13%, 49%, 0.22);
}

.plan:nth-child(1) {
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.plan:nth-child(3) {
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.plan__name {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.plan__price {
  font-size: 4.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 2rem;
}

.plan__price span {
  font-size: 2.25rem;
}

.plan__list li {
  border-top: 1px solid var(--light-grayish-blue);
  padding-block: 1.25rem;
}

.plan__list li:last-child {
  border-bottom: 1px solid var(--light-grayish-blue);
}

.plan__info {
  margin-top: 2rem;
}

.plan--professional {
  background-color: transparent;
  background-image: linear-gradient(to bottom right, var(--gradient));
  color: var(--white);
  padding-block: 3.5rem;
  border-radius: 0.625rem;
}

.plan--professional .plan__price {
  color: var(--white);
}

.plan--professional .plan__list li {
  border-color: var(--light-blue);
}

.footer {
  text-align: center;
  padding-block: 2rem;
}

.footer__text {
  color: var(--grayish-blue);
  font-size: 0.8125rem;
}

.footer__text a {
  color: var(--dark-blue);
}
